// Importe os arquivos SCSS do Bootstrap e BootstrapVue
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';


$dark-body-bg:#ffffff;
$dark-body-color:  #ffffff;
$custom-control-indicator-size: 1rem;

body {
  background-color: #141414;
  color: rgb(255 255 255 / 81%);
}
