$body-bg: #ebe4e4;
$body-color: #e9e2e2;
$custom-control-indicator-size: 1rem;

// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';